<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Encurtador de Links</title>
    <style type="text/css">
        body {
            background-color: #cacecd;
        }
    </style>
</head>
<body>
<div class="container" id="app">
    <br />
    <div class="card" style="width: 90%;">
        <div class="card-body">
            <button type="button" class="btn btn-primary" @click="pesquisaUrl">Atualizar</button>
            <button type="button" class="btn btn-warning" @click="sair">Sair</button>
        </div>
    </div>

    <br />
    <div class="card" style="width: 90%;" v-if="processando">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" align="center">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="card" style="width: 90%;" v-if="!processando">
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Data de Expiração</th>
                    <th scope="col">URL Original</th>
                    <th scope="col">URL Encurtada</th>
                </tr>
                </thead>

                <tbody v-if="totalUrl > 0">
                <tr v-for="url_item in url">
                    <td scope="row">{{ dateFormatBR(url_item.created_at) }}</td>
                    <td>{{ dateFormatBR(url_item.date_expiration) }}</td>
                    <td>{{ url_item.url_original }}</td>
                    <td>{{ url_item.url_shortened }}</td>
                </tr>
                </tbody>

                <tbody v-else>
                <tr>
                    <th colspan="5">Nenhum registro encontrado</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="js/moment-with-locales.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            processando: false,
            processandoModal: false,
            totalUrl: 0,
            url: []
        },
        methods: {
            pesquisaUrl() {
                this.processando = true;
                axios({
                    method: 'get',
                    url: 'http://localhost:8000/api/Url'
                })
                    .then((response) => {
                        console.log(response.data);
                        this.processando = false;
                        this.url = response.data;
                        this.totalUrl = this.url.length;
                    })
                    .catch(function (error) {
                        // handle error
                        //console.log(error);
                    })
                    .finally(function () {

                    });
            },
            sair() {
                localStorage.setItem('userShortener',null);
                window.location.href = "login.html";
            },
            dateFormatBR(date){
                return moment(date).format('DD/MM/YYYY');;
            }
        },
        beforeCreate() {
            var userLogged = localStorage.getItem('userShortener');
            if(userLogged == null) {
                window.location.href = "login.html";
            }
        },
        mounted() {
            this.pesquisaUrl()
        }
    })
</script>
</body>
</html>